<header>
  <nav class="navbar">
      <div id="heading"><a href=" " id="navbar-brand" routerLink="/">BookStore</a></div>
      <div class="search-container" style="margin: auto;max-width: width 1000px;">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

      <div> <a href="" class="navlinks" routerLink="/store">Store</a></div>
      <!-- <div> <a href="" class="navlinks" routerLink="/wishlist">Wishlist</a></div> -->
      <div> <a href="" class="navlinks" routerLink="/cart">Cart</a></div>
      <div> <a href="" class="navlinks" routerLink="/profile">Profile</a></div>
      <div> <a href="" class="navlinks" routerLink="/login">Login</a></div>
      
      <ul class="navbar-nav">
      </ul>
  </nav>
</header>
