
<ul>
  <li *ngFor="let data of bookReport">{{data}}</li>
</ul>
<p>________________________________</p><!--
<ul>
  <li *ngFor="let data of top | async">{{data}}</li>
</ul>-->

<table>
  <thead>
    <tr>
      <th>bid</th>
      <th>title</th>
      <th>quantity</th>
      <th>totalsales</th>
    </tr>
   </thead>
  <tbody>
    <tr *ngFor="let data of top">
      <td>{{data[0]}}</td>
      <td>{{data[1]}}</td>
      <td>{{data[2]}}</td>
      <td>{{data[3]}}</td>
    </tr>
  </tbody>
</table>
  
