<div class="bg-img">
  <h1><a href=" " id="header" routerLink="/">BookStore</a></h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" class="container">
    <h2>Register</h2>
    <hr>
    <label for="username"><b>Username</b></label>
    <input type="text" formControlName="username"  name="username" required>
    
    <label for="password"><b>Password</b></label>
    <input type="text" formControlName="password" name="password" required>

    <label for="email"><b>Email</b></label>
    <input type="text" formControlName="email" name="email" required>

    <label for="billing"><b>Billing Address</b></label>
    <input type="text" formControlName="billing" name="billing" required>

    <label for="mailing"><b>Mailing Address</b></label>
    <input type="text" formControlName="mailing" name="mailing" required>

    <button type="submit" class="btn">Register</button> <br><br>
  </form>
</div>
