<br/>
<div class="row">
  <div class="col-25">
    <div class="container">
      <h4>
        Cart
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
        </span>
      </h4>
      <hr>
      <table>
        <thead>
          <tr>
            <th>Book Title</th>
            <th>Quantity</th>
            <th>Price per unit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartBooks">
            <td>{{item.title}}</td>
            <td>
              {{item.quantity}}
              <button type="button" class="up" (click)="changeQty(item.bid,1)">up</button>
              <button type="button" class="down" (click)="changeQty(item.bid,-1)">down</button>
            </td>
            <td>{{item.price}}</td>
          </tr>
        </tbody>
      </table>

      <hr>
      <p>Total <span class="price" style="color:black"><b>{{totalOutput}}</b></span></p>
    </div>
  </div>
</div>
<br>
<button id="checkoutbutton" (click)="sendToPay()">Checkout</button>
<button type="button" class="empty" (click)="emptyCart()">Empty Cart</button>

